<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <TestRunParameters>
    <Parameter name="Branch" value="develop" />
    <Parameter name="InstanceUrl" value="http://awoha.xyz/" />
    <Parameter name="ApiInstanceUrl" value="https://api.rawg.io/api/" />
    <!--Browser should be: chrome, firefox-->
    <Parameter name="Browser" value="chrome" />
    <Parameter name="Headless" value="false" />
    <Parameter name="ImplicitWait" value="2" />
    <!--API-->
    <Parameter name="ApiKey" value="default" />
    <Parameter name="ApiToken" value="default" />
    <!--DB-->
    <Parameter name="DBServer" value="default" />
    <Parameter name="DBName" value="default" />
    <Parameter name="DBUserId" value="default" />
    <Parameter name="DBUserPass" value="default" />
    <!--Zephyr-->
    <Parameter name="PublishToZephyr" value="true" />
    <Parameter name="ZephyrProjectKey" value="TES" />
    <Parameter name="ZephyrCycleID" value="0" />
    <Parameter name="ZephyrCycleKey" value="0" />
    <Parameter name="ZephyrCycleName" value="default" />
	<Parameter name="ZephyrCycleComment" value="default" />  
    <Parameter name="ZephyrUrl" value="https://api.zephyrscale.smartbear.com/v2/" />
    <Parameter name="ZephyrToken" value="default" />
    <!--Zephyr-->
    <!--Agent-->
    <Parameter name="AgentTestsResultsFolder" value="default" />
  </TestRunParameters>
</RunSettings>